.btn-small {
    width: 75px;
    height: 39px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 19px;
}

.btn-normal {
    padding: 10px 35px;
    width: 127px;
    height: 46px;
    font-size: 18px;
    line-height: 22px;
}

.btn-large {
    padding: 12px 35px;
    width: 281px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #1abcfe;
    background-blend-mode: soft-light, normal;
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    border-radius: 100px;
}

.btn-square {
    width: 100px;
    height: 100px;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #1abcfe;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.16);
    box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    border-radius: 20px;
}

.btn-style-1 {
    border-radius: 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    transition: 0.3s;
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #06a3e6;

    background-blend-mode: soft-light, normal;
    &:hover {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #198fc2;
        color: #ffffff;
        box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    }
    &:disabled {
        background: #caeaf8;
    }
    &:active {
        border: 2px solid #198fc2;
        background: #ffffff;
        color: #198fc2;
        box-shadow: none !important;
    }
    &:focus {
        box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    }
}

.btn-style-2 {
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ffffff;
    background-blend-mode: soft-light, normal;
    box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    border-radius: 30px;
    transition: 0.3s;
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #2b2b33;
    &:hover {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #198fc2;
        color: #ffffff;
        box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    }
    &:disabled {
        background: #caeaf8;
    }
    &:active {
        border: 2px solid #198fc2;
        background: #ffffff;
        color: #198fc2;
        box-shadow: none !important;
    }
    &:focus {
        box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    }
}
