.btn-small {
    border-radius: 10px;
    min-width: 75px;
    height: 39px;
    padding: 10px 12px;
    font-size: 16px;
    line-height: 19px;
}

.btn-normal {
    border-radius: 10px;
    padding: 10px 35px;
    min-width: 127px;
    height: 46px;
    font-size: 18px;
    line-height: 22px;
}

.btn-large {
    border-radius: 10px;
    padding: 12px 35px;
    min-width: 281px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    background: $mainLinearGradient;
    background-blend-mode: soft-light, normal;
    box-shadow: $mainBoxShadow;
    border-radius: 100px;
}

.btn-square {
    width: 100px;
    height: 100px;
    background: $mainLinearGradient;
    background-blend-mode: soft-light, normal;
    border: 0.5px solid rgba(255, 255, 255, 0.16);
    box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    border-radius: 20px;
}

.btn-style-1 {
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    transition: 0.3s;
    box-shadow: $mainBoxShadow;
    background: $mainLinearGradient;
    background-blend-mode: soft-light, normal;
    &:hover {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), $mainColorDark;
        color: #ffffff;
        box-shadow: $mainBoxShadow;
    }
    &:disabled {
        background: #caeaf8;
    }
    &:active {
        border: 2px solid $mainColorDark;
        background: #ffffff;
        color: $mainColorDark;
        box-shadow: none !important;
    }
    &:focus {
        box-shadow: $mainBoxShadow;
    }
}

.btn-style-2 {
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ffffff;
    background-blend-mode: soft-light, normal;
    box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    border-radius: 10px;
    transition: 0.3s;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #2b2b33;
    &:hover {
        background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), $mainColorGrey;
        color: #ffffff;
        box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    }
    &:disabled {
        background: #caeaf8;
    }
    &:active {
        border: 2px solid $mainColorDark;
        background: #ffffff;
        color: $mainColorDark;
        box-shadow: none !important;
    }
    &:focus {
        box-shadow: -15px -15px 30px #fafbff, 15px 15px 30px rgba(166, 171, 189, 0.5);
    }
}

.btn-svg {
    width: 33px;
    height: 33px;
    background-blend-mode: soft-light, normal;
    box-shadow: $mainBoxShadow;
    padding: 0;
    border-radius: 5px;
    &:hover {
        mat-icon {
            transition: 0.2s;
            &:hover {
                width: 30px;
                height: 30px;
                transition: 0.2s;
            }
        }
    }
}

.btn-danger-my {
    color: $dangerColor;
    &:disabled {
        // background: #caeaf8;
    }
    &:active {
        border: 2px solid $dangerColor;
    }
}

.btn-warning-my {
    color: $warningColor;
    &:disabled {
        // background: #caeaf8;
    }
    &:active {
        border: 2px solid $warningColor;
    }
}

.btn-success-my {
    color: $successColor;
    &:disabled {
        // background: #caeaf8;
    }
    &:active {
        border: 1px solid $successColor;
    }
}

.btn-primary-my {
    color: $mainColorDark;
    &:disabled {
        // background: #caeaf8;
    }
    &:active {
        border: 1px solid $mainColorDark;
    }
}

.btn-secondary-my {
    color: $mainColorGrey;
    &:disabled {
        // background: #caeaf8;
    }
    &:active {
        border: 1px solid $mainColorGrey;
    }
}
