@import "~ngx-toastr/toastr";
@import "../styles/reset.scss";
@import "../styles/buttons.scss";
@import "../styles/header.scss";
@import "../styles/admin.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

button {
  background-color: white;
  border: none;
  color: white;
  &:focus,
  &:active {
    outline: none;
  }
}
