// @import "~ngx-toastr/toastr";

@import "../styles/reset.scss";
@import "../styles/buttons.scss";
// @import "../styles/sign-in.scss";
// @import "../styles/nav-btn.scss";
// @import "../styles/nav-btn-2.scss";
// @import "../styles/superadmin.scss";
// @import "../styles/buttons.scss";
// @import "../styles/navbar.scss";
// @import "../styles/sidebar.scss";
// @import "../styles/institution.scss";
// @import "../styles/tables.scss";
// @import "../styles/tab-content-border.scss";
// @import "../styles/modal.scss";
// @import "../styles/toast.scss";

// @import "../styles/hr-department.scss";
// @import "../styles/svg.scss";
// @import "../styles/nav-btn-svg.scss";
// @import "../styles/shared-table.scss";
// @import "../styles/global.scss";

// @import "../styles/calendar.scss";
// @import "../styles/patient.scss";
// @import "../styles/file-load.scss";
// @import "../styles/time-apointment.scss";

// @import "../styles/rehabilitation.scss";

// html,
// body {
//   height: 100%;
// }

// body {
//   font-family: "Raleway", sans-serif;
// }

// .main {
//   font-family: "Raleway", sans-serif;
// }

// .ng-invalid.ng-touched {
//   border-color: #dc3545 !important;
// }

// .form-errors {
//   color: red !important;
//   font-size: 12px;
//   font-family: "Exo 2";
// }

// .btn.focus,
// .btn:focus {
//   outline: 0 !important;
//   box-shadow: none !important;
// }

// .form-control {
//   background-color: transparent;
//   border: none !important;
//   border-bottom: 1px solid black !important;
//   outline: none !important;
//   border-radius: 0 !important;
//   cursor: pointer;
//   padding: 0;

//   :focus {
//     outline: none !important;
//     box-shadow: none !important;
//   }
// }

// input[type="text"],
// input[type="password"],
// input[type="number"] {
//   cursor: text;
// }

// .form-control:focus {
//   box-shadow: none;
// }

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   box-shadow: 0 0 0 30px white inset !important;
// }

// select {
//   appearance: none;
//   background-image: linear-gradient(45deg, transparent 50%, #495057 50%),
//     linear-gradient(135deg, #495057 50%, transparent 50%);
//   background-position: calc(100% - 22px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
//   background-size: 7px 7px, 7px 7px, 2.5em 2.5em;
//   background-repeat: no-repeat;
// }

button {
  background-color: white;
  border: none;
  color: white;
  &:focus,
  &:active {
    outline: none;
    // box-shadow: none !important;
  }
}

// img {
//   width: auto;
//   height: auto;
//   max-width: 100%;
// }

// .row {
//   margin: 0;
// }

// mat-form-field {
//   input {
//     font-size: 20px !important;
//     color: grey !important;
//   }

//   mat-select {
//     font-size: 18px !important;
//   }

//   width: 100%;

//   mat-label {
//     font-size: 18px;
//   }

//   mat-datepicker-toggle {
//     font-size: 21px;
//   }
// }

// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding-bottom: 1.7em !important;
// }

// .ml-4 {
//   margin-left: 1.5rem !important;
// }

// .ml-1 {
//   margin-left: 0.5rem !important;
// }

// // .pl-0 {
// //   margin-left: 0!important;
// // }

// .h-1 {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 18px;
//   line-height: 21px;
//   letter-spacing: 0.02em;
//   color: #4e4e4e;
// }

// .h-2 {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 26px;
//   line-height: 39px;
//   letter-spacing: 0.02em;
//   color: #4e4e4e;
// }

// .h-3 {
//   font-family: Raleway;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 14px;
//   line-height: 21px;
//   letter-spacing: 0.02em;
//   color: #4e4e4e;
// }

// .h-4 {
//   font-weight: 500;
//   font-size: 20px;
//   letter-spacing: 0.02em;
//   color: #4e4e4e;
// }

// .m-12 {
//   margin: 0 12px;
// }

// .width-100 {
//   width: 100px;
// }

// .max-width-100 {
//   max-width: 100px;
// }

// .max-width-150 {
//   max-width: 150px;
// }

// .bottom-grey {
//   border-right: 1px solid #d1d1d1;
// }

// // -------------------------------------------------
// .loader-section {
//   position: relative;

//   &:after {
//     content: "";
//     display: block;
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(255, 255, 255, 0.4);
//     z-index: 11;
//   }

//   .spiner {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 12;
//   }
// }

// .spiner {
//   width: 50px !important;
//   height: 50px !important;
//   margin: 0 auto !important;
// }

// .spinerSmall {
//   width: 20px !important;
//   height: 20px !important;
// }

// .spinerMiddle {
//   width: 30px !important;
//   height: 30px !important;
// }

// .spinerBig {
//   width: 90px !important;
//   height: 90px !important;
// }

// a {
//   color: black;
// }

// div mat-form-field mat-label {
//   font-size: 14px;
// }

// div mat-form-field mat-date-range-input .range-input {
//   height: 15px;
//   font-size: inherit !important;
//   line-height: 22px;
// }

// div mat-form-field mat-date-range-input {
//   margin: 5px 0 -1px;
// }

// .timepicker {
//   .timepicker__header {
//     background-color: #66cc99 !important;
//   }

//   .clock-face__clock-hand {
//     background-color: #3399cc !important;

//     &::after {
//       background-color: #3399cc !important;
//     }

//     &::before {
//       border-color: #3399cc !important;
//     }
//   }

//   .clock-face__number {
//     span.active {
//       background-color: #66cc99 !important;
//     }
//   }

//   button:not(.timepicker-dial__item) {
//     color: #66cc99 !important;
//   }
// }

// .mat-calendar-header {
//   background-color: #66cc99 !important;
// }

// .mat-focus-indicator {
//   font-size: 18px;
// }

// mat-icon {
//   cursor: pointer;
// }

// .blackRow {
//   background-color: #4e4e4e;
//   color: white;
//   justify-content: space-between;
//   padding: 5px;
//   font-size: 16px;
//   margin: 15px 0;
// }
