<header class="header">
  <nav class="navigation row">
    <a href="#!" class="navigation-brand col-md-3">
      <img
        src="../../../../assets/img/color_city.png"
        alt="logo"
        class="logo-img"
      />
    </a>

    <div class="navigation-menu col-md-7">
      <!-- <ul class="row">
        <li class="col-md"><a href="#!">Articles</a></li>
        <li class="col-md"><a href="#!">Users</a></li>
        <li class="col-md"><a href="#!">Log out</a></li>
      </ul> -->
      <button class="btn btn-normal btn-style-1">Корзина</button>
      <button class="btn btn-small btn-style-1">Корзина</button>
      <button class="btn btn-large btn-style-1">Корзина</button>
    </div>

    <div class="navigation-basket col-md-2">
      <button class="btn btn-normal btn-style-1" [disabled]="true">
        Корзина
      </button>
      
    </div>
  </nav>
</header>
