<div class="edit-img">
  <!-- <img [src]="selectedColorObj?.img | readBufferImg" alt="Image Source" /> -->
</div>

<div class="edit-content">
  <div class="main-content">
    <div class="edit-title">
      {{ item.title }}
      <button class="btn-svg btn-secondary-my">
        <mat-icon svgIcon="{{ editCommonInfo ? 'save' : 'edit' }}"> </mat-icon>
      </button>
    </div>
    <div class="price">{{ selectedColorObj.price }}₴</div>
    <div class="edit-setting">
      <div class="setting-title">
        {{ "admin.product.size" | translate }}
      </div>
      <div #volume class="d-flex">
        <ng-container
          *ngFor="let sett of item.goods | modifyObjForCard; let i = index"
        >
          <div
            class="setting-circle"
            [ngClass]="{
              'setting-circle-active': i == selectedArrVolumeIndex
            }"
            (click)="selectVolume(sett, i)"
          >
            {{ sett[0].volume }}
            {{ dictionaries.unit[sett[0].unit] }}
          </div>
        </ng-container>
      </div>
    </div>

    <div class="edit-color my-1">
      <div class="setting-title">
        {{ "admin.product.colors" | translate }}
      </div>
      <div #color class="d-flex align-items-center" style="height: 71px">
        <ng-container
          *ngFor="let col of selectedArrVolume; let colIndex = index"
        >
          <div
            matTooltip="{{ dictionaries.colors[col.colors] }}"
            [matTooltipPosition]="'above'"
            class="color-circle"
            [ngStyle]="{ 'background-color': col.colors }"
            [ngClass]="{
              'color-circle-active': colIndex == selectedArrColorIndex
            }"
            (click)="selectColor(col, colIndex)"
          ></div>
        </ng-container>
      </div>
    </div>

    <div class="d-flex" style="margin-top: 24px" (click)="moreInfo()">
      <div class="setting-title fw-bold">
        {{ "admin.product.general_characteristics" | translate }}
      </div>
      <mat-icon [ngClass]="{ 'rotate-180': toggleInfo }" svgIcon="more">
      </mat-icon>
    </div>
  </div>

  <div class="toggle-info">
    <app-common-product-characteristics
      [item]="item"
      [editCommonInfo]="editCommonInfo"
      (updateItemValue)="getItemValue($event)"
    ></app-common-product-characteristics>
  </div>
</div>
