:host {
    // display: block;
}

.open-close-container {
    background-color: #dddddd;
    border: 1px solid #dddddd;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    background-color: #dddddd;
    overflow: hidden;
    height: 100px;
}

p {
    margin: 0;
    padding: 20px;
}
